<style>
  body {
      background-image: url('Eversfield_meat__gh42.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      background-blend-mode: overlay;
  }
</style>

<br>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <h1>The Eversfield Farm</h1>
    </div>
    <div class="col-sm-6">
      <img src="Pigs.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
      <h6>At Eversfield Organic we are passionate about our animals, the land and the environment. We treasure our soil like it is family, nurturing it to provide the tastiest, most luscious pasture for our animals to enjoy.
      The organic, pasture fed ethos is at the heart of everything we stand for. Raising happy, naturally reared animals is what gets us out of bed in the morning.</h6>
      <h6>Eversfield piglets start life in the rugged wilds of our Devon pasture. We know that outdoor bred and reared pigs are the happiest and healthiest little swine, enjoying a naturally slow-growing life with a top quality diet.</h6>
      <h6>Eversfield Organic pigs are a lucky lot, free to snuffle and scavenge the delights of organic Devon pasture. Not to mention, roll in the inevitable mud pit or two. Although they love nothing more than basking in the sunshine in a mud mask, they are not fazed by the reliable Dartmoor rain and can often be found frolicking in the midst of a shower.
      Foraging for natural treats on our organic pasture, our pigs are kept happy on a nutritious organic mix containing their old favourite, organic sunflower seeds.</h6>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <h1>The Butchery</h1>
    </div>
    <div class="col-sm-6">
      <img src="Hanging Pigs.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
      <h6>Our pigs are handled with the utmost care and attention throughout their lives and this is no different when they finally reach our farm butchery.
      Each carcass brought back from our local abattoir is carefully recorded to ensure 100% traceability from field to fork.<h6>
      <img src="Butchery.jpg" class="img-thumbnail">
      <h6>Our small team of local butchers carefully prepare the primal ready to be cured, smoked and butchered to order. The pork belly is hung ready for their transformation into our delicious Roam & Relish bacon.
      We only butcher a primal into cuts once the meat has been ordered. This means we never have meat sat in plastic packaging waiting for a home.</h6>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <h1>The Curing House</h1>
    </div>
    <div class="col-sm-6">
      <img src="Curing.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
      <h6>The primals are then prepared for curing. Our cured meat maestro, Dan, runs a tight ship and carefully readies every cut for its cure.
      Dan hand rubs the dry cure onto the pork belly then places the cut into curing bags. Over 4 days the meat firms up and darkens as it cures and dries – all good signs we are in for a brilliant batch of bacon.</h6>
    </div>
    <div class="col-sm-2">
      <img src="Belly In Smoker.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-2">
      <img src="Belly In Smoker 2.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-2">
      <img src="Smoker.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
      <h6>When the belly is good and ready, it is taken out of its curing bag and is washed to remove the cure. The cured pork belly is then either destined for the smoker where it aromatises for up to 6 hours, or is sent straight to slicing.</h6>
    </div>
    <div class="col-sm-6">
      <img src="Bacon.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
      <h6>Our bacon is then carefully shingled and packed by our small production team.</h6>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <h1>Bringing Home The Bacon...</h1>
    </div>
    <div class="col-sm-6">
      <img src="packedbacon.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
      <h6>And finally, our Roam & Relish bacon reaches you at home. This is the proper stuff; thick cut, dry cured and quite frankly, delicious. Don’t thank us, thank nature.</h6>
    </div>
  </div>
</div>
<br>
<br>
