<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <a href="https://www.eversfieldorganic.co.uk/dept/organic-charcuterie_d01231.htm" target="_blank">
        <img class="img-fluid" src="eversfieldorganic.jpg" alt="Eversfield Organic"></a>
    </div>
    <div class="col-sm-4">
      <img class="img-fluid" src="ocado.png" alt="Ocado">
    </div>
    <div class="col-sm-4">
      <img class="img-fluid" src="abel-and-cole-logo.png" alt="Abel & Cole">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img class="img-fluid" src="waitrose-vector-logo.png" alt="Waitrose">
    </div>
    <div class="col-sm-4">
      <img class="img-fluid" src="Whole_Foods_Market_Logo.png" alt="Whole Foods Market">
    </div>
    <div class="col-sm-4">
      <img class="img-fluid" src="asnatureintendedlogo.png" alt="As Nature Intended">
    </div>
  </div>
</div>
