<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <a href="https://www.eversfieldorganic.co.uk/dept/organic-charcuterie_d01231.htm" target="_blank">
        <img class="img-fluid" src="eversfieldlogo.png" alt="Eversfield Organic"></a>
    </div>
    <div class="col-sm-4 col-xs-4">
      <img class="img-fluid" src="ocadologo.png" alt="Ocado">
    </div>
    <div class="col-sm-4 col-xs-4">
      <img class="img-fluid" src="abelandcolelogo.png" alt="Abel & Cole">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <img class="img-fluid" src="waitroselogo.png" alt="Waitrose">
    </div>
    <div class="col-sm-4 col-xs-4">
      <img class="img-fluid" src="wholefoodsmarketlogo.png" alt="Whole Foods Market">
    </div>
    <div class="col-sm-4 col-xs-4">
      <img class="img-fluid" src="asnatureintendedlogo.png" alt="As Nature Intended">
    </div>
  </div>
</div>
