<br>
<br>
<style>
  body {
      background-image: url('Eversfield_meat__gh42.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      background-blend-mode:overlay;
  }
</style>
<div id="background">
  <div id="logo" class="container center">
    <div class="row">
      <div class="col-12">
        <img class="img-fluid" src="R&RTrademarked.png" alt="Roam & Relish">
      </div>
    </div>
  </div>
</div>
