<br>
<br>
<!-- <div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-4">Bacon</div>
    <div class="col-sm-4">Ham</div>
    <div class="col-sm-4">Beef</div>
  </div>
</div>
<br> -->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-5ths">Unsmoked Back Bacon</div>
    <div class="col-sm-5ths">Unsmoked Streaky Bacon</div>
    <div class="col-sm-5ths">Smoked Back Bacon</div>
    <div class="col-sm-5ths">Smoked Streaky Bacon</div>
    <div class="col-sm-5ths">Honey Smoked Streaky Bacon</div>
  </div>
  <br>
  <div class="row">
    <div class="container-fluid text-center">
      <div id="bacon-info" class="collapse">
        <div class="col-sm-5ths">Unsmoked Back Bacon</div>
        <div class="col-sm-5ths">Unsmoked Streaky Bacon</div>
        <div class="col-sm-5ths">Smoked Back Bacon</div>
        <div class="col-sm-5ths">Smoked Streaky Bacon</div>
        <div class="col-sm-5ths">Honey Smoked Streaky Bacon</div>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#bacon-info">More Info</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-5ths">Traditional Sliced Ham</div>
    <div class="col-sm-5ths">Honey Roast Sliced Ham</div>
    <div class="col-sm-5ths">Smoked Sliced Ham</div>
    <div class="col-sm-5ths"></div>
    <div class="col-sm-5ths"></div>
  </div>
  <br>
  <div class="row">
    <div class="container-fluid text-center">
      <div id="ham-info" class="collapse">
        <div class="col-sm-5ths">Unsmoked Back Bacon</div>
        <div class="col-sm-5ths">Unsmoked Streaky Bacon</div>
        <div class="col-sm-5ths">Smoked Back Bacon</div>
        <div class="col-sm-5ths"></div>
        <div class="col-sm-5ths"></div>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ham-info">More Info</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-5ths">Pastrami</div>
    <div class="col-sm-5ths">Salt Beef</div>
    <div class="col-sm-5ths"></div>
    <div class="col-sm-5ths"></div>
    <div class="col-sm-5ths"></div>
  </div>
  <br>
  <div class="row">
    <div class="container-fluid text-center">
      <div id="beef-info" class="collapse">
        <div class="col-sm-5ths">Pastrami</div>
        <div class="col-sm-5ths">Salt Beef</div>
        <div class="col-sm-5ths"></div>
        <div class="col-sm-5ths"></div>
        <div class="col-sm-5ths"></div>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#beef-info">More Info</button>
    </div>
  </div>
</div>
<br>
<br>
