<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RoamAndRelish</title>
    <%= csrf_meta_tags %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-sm justify-content-center">
      <ul class="navbar-nav">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="story">Story</a></li>
        <li><a class="nav-link" href="products">Products</a></li>
        <li><a class="nav-link" href="stockists">Stockists</a></li>
        <li><a class="nav-link" href="https://www.eversfieldorganic.co.uk/dept/organic-charcuterie_d01231.htm" target="_blank">Buy Online</a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="container text-center">
        <img class="img-fluid" src="eo_facebook.png" alt="Facebook">
        <img class="img-fluid" src="eo_twitter.png" alt="Twitter">
        <img class="img-fluid" src="eo_youtube.png" alt="YouTube">
        <p>©️2018 Roam & Relish</p>
      </div>
    </footer>
  </body>
</html>
