<!DOCTYPE html>
<html>
  <head>
    <title>RoamAndRelish</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Roam & Relish</h1>
    <li><a href="story">Story</a></li>
    <li><a href="products">Products</a></li>
      Stockists
      Buy Online
    </ul>
    <%= yield %>
  </body>
</html>
