<!DOCTYPE html>
<html>
  <head>
    <title>RoamAndRelish</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Roam & Relish</h1>
    <li><a href="story">Story</a></li>
    <li><a href="products">Products</a></li>
    <li><a href="stockists">Stockists</a></li>
    <li><a href="https://www.eversfieldorganic.co.uk/dept/organic-charcuterie_d01231.htm" target="_blank">Buy Online</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
